<ul class="team">
  <li class="team-member">
    <a href="https://linkedin.com/in/sandeep-thapa-304507147" target="_blank">
      <figure>
        <img
          alt="Sandeep Thapa"
          src="{{ site.baseurl }}/assets/img/sandeep.jpeg"
        />
      </figure>
      <strong>Sandeep Thapa</strong>
      <br />
      Software Engineer
    </a>
  </li>
  <li class="team-member">
    <a href="https://openai.com/blog/chatgpt" target="_blank">
      <figure>
        <img alt="GPT" src="{{ site.baseurl }}/assets/img/chatgpt.jpeg" />
      </figure>
      <strong>GPT</strong>
      <br />
    </a>
  </li>
</ul>
